{
  "presets": [
    "@babel/preset-typescript",
    "@babel/env"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    [
      "@babel/proposal-class-properties",
      {
        "loose": true
      }
    ]
  ]
}