@import "src/scss/base/variables";
@import "src/scss/base/mixins";

.chat {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  max-width: 1640px;
  display: flex;
  flex-direction: column;
  padding: (2 * $padding) (3 * $padding) (2 * $padding) 0;
}