.heading {
  &-1 {
    font-family: $mainFont;
    font-size: 42px;
    line-height: percentage(96/80);
    @include media-query($med) {
      font-size: 64px;
    }
    @include media-query($xlarge) {
      font-size: 80px;
    }
  }

  &-2 {
    font-family: $mainFont;
    font-size: 28px;
    line-height: percentage(64/48);
    @include media-query($med) {
      font-size: 34px;
    }
    @include media-query($xlarge) {
      font-size: 48px;
    }
  }

  &-3 {
    font-family: $mainFont;
    font-size: 21px;
    @include media-query($med) {
      font-size: 24px;
    }
  }

  &-4 {
    font-family: $mainFont;
    font-size: 21px;
  }

  &-5 {
    font-family: $mainFont;
    font-size: 16px;
  }
}

.alt-type {
  font-size: 18px;
  color: $grey;
  line-height: percentage(24/18);
}

.meta-type {
  font-size: 18px;
  color: $grey;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

p, .body-type {
  font-family: $mainFont;
  font-size: 24px;
  line-height: percentage(30/24);
  @include media-query($med) {
    font-size: 21px;
  }
}