// TYPOGRAPHY
$mainFont: 'Sohne', Helvetica, Arial, sans-serif;
$altFont: 'SohneBreit', Helvetica, Arial, sans-serif;

// LAYOUT
$wrapperWidth: 1200px;
$wrapperBigWidth: 1344px;
$wrapperSmallWidth: 800px;
$padding: 20px;

// COLORS
$black: #000;
$white: #fff;
$grey: #E2E4E8;
$green: #9BE6B2;
$lime: #DDE182;
$blue: #0254C2;
$lightBlue: #C5C9D2;
$red: #FF3F2F;

// media
$widescreen: 1920px;
$pageWidth: 1640px;
$xlarge: 1340px;
$large: 1200px;
$med: 990px;
$small: 680px;
$xsmall: 420px;