// TYPOGRAPHY
$mainFont: 't26-carbon', monospace;;
$altFont: 'SohneBreit', Helvetica, Arial, sans-serif;

// LAYOUT
$wrapperWidth: 1200px;
$wrapperBigWidth: 1344px;
$wrapperSmallWidth: 800px;
$padding: 20px;

// COLORS
$black: #141414;
$white: #FFFCF9;
$grey: rgba(#B1B1B1, 0.8);
$pink: #EF476F;
$red: #FF3F2F;

// media
$widescreen: 1920px;
$pageWidth: 1640px;
$xlarge: 1340px;
$large: 1200px;
$med: 990px;
$small: 680px;
$xsmall: 420px;